body {
  margin: 0;
  background-color: white;
}

#root {
  width: 85%;
  margin: 0 auto;
  background-color: #f5f6fa;
  margin-top: 80px;
}

.book {
  margin: 0 auto;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0 30px;
  width: 80%;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
}

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 85px;
  background-color: white;
}

.nav-link {
  margin-left: 30px;
}

.same {
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  justify-content: flex-start;
  align-items: center;
}

.heading {
  color: #0290ff;
  font-family: 'Times New Roman', Times, serif;
}

ul {
  list-style: none;
  padding-left: 0;
}

.percentage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  padding-bottom: 1.5rem;
}

.top {
  font-size: 30px;
  font-weight: 400;
}

.complete {
  color: #a4a7af;
}

a {
  color: #a4a7af;
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
}

a:hover {
  color: black;
}

.percent {
  margin: 0;
  padding: 0;
}

.action {
  font-family: 'Arial';
  font-weight: bolder;
  color: rgb(131, 130, 130);
  margin: 15px 0px 0px 0px;
  padding: 0;
}

.action-name {
  color: #0290ff;
  margin: 0px 0px 0px 0px;
}

h2 {
  margin: 10px 0px 0px 0px;
  padding: 0;
  font-size: 20px;
}

.current {
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

.cur-head {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: #c5c1c1;
  font-size: 15px;
  font-weight: lighter;
}

.line {
  font-size: 2.8rem;
  font-weight: lighter;
  height: 5rem;
  margin-top: 3rem;
  color: #d3d3d3;
  
}

.cur-head-sec {
  font-size: 15px;
  font-weight: lighter;
  margin: 8px 6px 23px 0px;
}

img {
  cursor: pointer;
}

.sec {
  padding: 0;
  margin: 0;
  color: black;
  margin-bottom: 15px;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 15px;
}

.comment-links {
  display: flex;
  color: #4386bf;
  margin-top: 30px;
}

li {
  margin-bottom: 10px;
}

.new-book {
  color: rgb(107, 106, 106);
}

.btn {
  border: none;
  color: #4386bf;
  background-color: white;
  cursor: pointer;
  border-left: 1px solid rgb(165, 164, 164);
  border-right: 1px solid rgb(165, 164, 164);
  margin-left: 10px;
  margin-right: 10px;
}

.progress {
  font-weight: lighter;
  font-size: 0.8rem;
  font-family: 'Times New Roman', Times, serif;
  width: 10rem;
  background-color: #0290ff;
  border: none;
  border-radius: 3px;
  padding: 7px;
  color: #fff;
}

.form-div {
  margin: 0 auto;
  width: 85%;
  padding-bottom: 100px;
}

.inp {
  width: 50%;
  padding: 5px;
  margin-right: 32px;
}

.cate {
  width: 26%;
  padding: 5px;
  margin-right: 32px;
  color: rgb(175, 169, 169);
}

.adding {
  width: 15%;
  padding: 5px;
  background-color: #0290ff;
  border: none;
  color: white;
  cursor: pointer;
}

.round {
  border-radius: 100%;
  width: 80px;
  border: 3px solid rgb(223, 211, 211);
  height: 80px;
  margin-top: 21px;
  border-bottom: 3px solid #0290ff;
  border-right: 3px solid #0290ff;
  border-top: 3px solid #0290ff;
}

.wrapper-round {
  display: flex;
  margin-left: 7rem;
}

form {
  width: 100%;
}
